{lager, [{colored, true},
         {handlers, [ {lager_console_backend, [info, 
                                               {lager_default_formatter,
                                                [time," [",severity,"] ", {module, [module, ": "], ""},
                                                 message,  "\n"]}]},
                      {lager_file_backend, [{file, "error.log"}, {level, error}]},
                      {lager_file_backend, [{file, "console.log"}, {level, info}]}
                    ]}
        ]}].

% vim: set filetype=erlang :
